# Data Science Tools and Ecosystem

 In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

* List popular languages for Data Science
* Identify commonly used libraries in Data Science
* Discuss development environment tools used in Data Science
* Introduce arithmetic expressions and operators in Python
* Demonstrate how to evaluate arithmetic expressions and perform basic calculations

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:

1. Pandas
2. NumPy
3. Matplotlib

| Data Science Tools |
|--------------------|
| Jupyter Notebook    |
| RStudio             |
| Spyder              |

### Below are a few examples of evaluating arithmetic expressions in Python

- `2 + 3`: adds 2 and 3, resulting in 5
- `7 - 4`: subtracts 4 from 7, resulting in 3
- `4 * 5`: multiplies 4 and 5, resulting in 20
- `8 / 2`: divides 8 by 2, resulting in 4
- `2 ** 3`: raises 2 to the power of 3, resulting in 8
- `10 % 3`: calculates the remainder of 10 divided by 3, resulting in 1

In [2]:
# This a simple arithmetic expression to mutiply then add integers

result = (3*4)+5
print(result)

17

In [3]:
# This will convert 200 minutes to hours by diving by 60

minutes = 200
hours = minutes / 60
print(hours)

3.3333333333333335

## Author
Chirag